@font-face {
  font-family: "iconfont"; /* Project id 3336384 */
  src: url('~@/static/iconfont/iconfont.woff2?t=1650199594228') format('woff2'),
       url('~@/static/iconfont/iconfont.woff?t=1650199594228') format('woff'),
       url('~@/static/iconfont/iconfont.ttf?t=1650199594228') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-caozuo-guanbi:before {
  content: "\e6ae";
}

.icon-fenxiang:before {
  content: "\e601";
}

.icon-shanchu:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-search:before {
  content: "\e623";
}

.icon-yousanjiao:before {
  content: "\e629";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e62a";
}

.icon-bofang_o:before {
  content: "\eb5e";
}

